*.o
*.o.d
*.jar
*.class
*.a
*.so
*.log
a.out
di-mmap_user_daemon
*.ko.cmd
*.mod.o.cmd
*.o.cmd
*.tmp_versions
Module.symvers
*.ko
*.mod.c
modules.order
rmv
set
test
seq_threads_read
rand_threads_read
rand_threads_write
corr
small
fsmall
fsmall_read
fsmall_write
tests/print_stats
tests/print_stats_csv
tests/prefetch
tests/dontneed
tests/set_file_priority
iotracer/user/iotracer
logbench/append-only-log
logbench/append-only-per-process-log
logbench/append-only-per-thread-log
logbench/append-only-log-rw

